.test {
  background-color: beige;
  color: orange;
  font-size: 50px;
  margin: 10px 100px;
  text-align: center;
}

.input {
  margin: 10px;
  text-align: center;
}

.container {
  display: flex;
  width: 50vw;
  margin: auto;
}

.red {
  height: 100px;
  flex: 1;
  background-color: red;
}

.orange {
height: 150px;
flex: 1;
background-color: orange;
}

.yellow {
height: 200px;
flex: 1;
background-color: yellow
}

.green {
height: 250px;
flex: 1;
background-color: green
}

.blue {
height: 300px;
flex: 1;
background-color: blue;
}

.navy {
height: 350px;
flex: 1;
background-color: navy;
}

.purple {
height: 400px;
flex: 1;
background-color: purple;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
