<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>JWT 실습</h1>
    <div id="button"></div>

    <script>
        (async function() {
            const token = localStorage.getItem('login');
            const button = document.querySelector('#button')
            console.log(token);
            let data = ``
            if( !token) {
                data = `
                <a href="/signup">회원가입</a>
                <a href="/login">로그인</a>
                `
            } else {
                const res = await axios({
                    method: 'GET',
                    url: '/token',
                    headers: {
                        Authorization: `Bearer ${token}`
                    },
                });
                console.log('res', res.data)
                if(res.data.result) {
                    data = `<p>${res.data.name}님 환영합니다.</p>
                    <button type='button' onclick='logout()'>로그아웃</button>`
                }
            }
            button.innerHTML = data
        })();

        function logout() {
            localStorage.clear()
            document.location.href = '/'
        }
    </script>
</body>
</html>