<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>파일 업로드 실습</h1>
    <form onsubmit="uploadFiles(event)">
        <input type="file" id="userfiles" multiple /><br />
        <input type="text" id="title" placeholder="제목" /><br />
        <br />
        <button type="submit">업로드</button>
    </form>
    <div class="result"></div>
    <script>
        const resultBox = document.querySelector('.result')
        async function uploadFiles(event) {
            event.preventDefault()
            console.log('upload')
            const title = document.getElementById('title').value
            const file = document.getElementById('userfiles')
            console.log('file.files.length', file.files.length)
            const formData = new FormData()
            formData.append('title', title)
            for (let i = 0; i < file.files.length; i++) {
                formData.append('userfiles', file.files[i])
            }

            let res = await axios({
                method: 'post',
                url: '/upload',
                data: formData,
                headers: {
                    'Content-Type': 'multipart/forma-data'
                }
            })

            console.log(res.data.length)

            for (let i = 0; i < res.data.length; i++) {
                const img = document.createElement('img')
                img.setAttribute('src', `${res.data[i].path}`)
                img.setAttribute('style', 'width: 200px')
                resultBox.append(img)
            }

        }
    </script>
</body>

</html>