<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1 id="welcome" >안녕하세요 김대원님</h1>
    <button type="button" id="logout" onclick="logout()" >로그아웃</button>
    <script>
        function logout() {
            axios({
                method: 'POST',
                url: '/',
                data: {
                    login: false
                }
            }).then((res) => {
                window.location.reload();
            })
        }
    </script>
</body>
</html>