<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <a href="/user">HOME</a>
    <br />
    <br />
    <h1>로그인</h1>
    <br />
    <form name="signin-form">
        <label for="userid">아이디: </label>
        <input type="text" name="userid" id="userid">
        <br />
        <br />
        <label for="pw">비밀번호: </label>
        <input type="password" name="pw" id="pw">
        <br />
        <br />
        <br />
        <button type="button" onclick="signinAccount()">로그인</button>
    </form>
    <form action="/user/profile" method="post" name="profile-form" hidden>
        <input type="text" name="id" id="id" value="" hidden />
    </form>
    <script>
        function signinAccount() {
            const signinForm = document.forms['signin-form']
            const profileForm = document.forms['profile-form']
            axios({
                method: 'POST',
                url: '/user/signin',
                data: {
                    userid: signinForm.userid.value,
                    pw: signinForm.pw.value,
                }
            }).then((res) => {
                console.log(res.data.userdata)
                if (res.data.result) {
                    alert('로그인 성공!')
                    document.getElementById('id').value = res.data.userdata.id
                    profileForm.submit()
                } else {
                    signinForm.reset()
                }

            })
        }
    </script>
</body>
</html>