// $color-pink: pink;
// $color-yellow: yellow;
// $color-green: green;

// @mixin circleSize($size) {
// 	width: $size;
// 	height: $size;
// 	border-radius: 50%;
// 	position: relative;
// }

// @mixin my-animation($name, $duration, $pixels) {
// 	@keyframes #{$name} {
// 		0% {
// 			top: 0;
// 			left: 0;
// 		}
// 		25% {
// 			top: 0;
// 			left: $pixels;
// 		}
// 		50% {
// 			top: $pixels;
// 			left: $pixels;
// 		}
// 		75% {
// 			top: $pixels;
// 			left: 0;
// 		}
// 		100% {
// 			top: 0;
// 			left: 0;
// 		}
// 	}

// 	animation: #{$name} $duration ease infinite;
// }

@mixin circle($color) {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: $color;
	position: relative;
}

@mixin rotate-circle($name, $pixels) {
	@keyframes #{$name} {
		0% {
			top: 0px;
			left: 0px;
		}
		25% {
			top: 0px;
			left: $pixels;
		}
		50% {
			top: $pixels;
			left: $pixels;
		}
		75% {
			top: $pixels;
			left: 0px;
		}
		100% {
			top: 0px;
			left: 0px;
		}
	}

	animation: $name 2s infinite;
}
