<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원 전체 리스트</h1>
    <h1>로그인한 사람: <%= user %>님</h1>
    <ul>
        <% for (let i = 0; i < users.length; i++) { %>
            <li>
                <%= users[i].name %>
            </li>
        <% } %>
    </ul>
</body>
</html>