<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= title %></h1>
    <h4>GET요청</h4>
    <form action="/getForm" method="GET">
        <input type="text" placeholder="id" name="id" required />
        <input type="password" placeholder="pw" name="pw" required />
        <button type="submit">제출</button>
    </form>
    <hr />
    <h4>POST요청</h4>
    <form action="/postForm" method="POST">
        <input type="text" placeholder="id" name="id" />
        <input type="password" placeholder="pw" name="pw" pattern="^([a-z0-9]){8,12}" />
        <!-- <input type="email"><br />
        <input type="radio"><br />
        <input type="checkbox"><br />
        <input type="tel"><br />
        <input type="number"><br />
        <input type="date"><br />
        <input type="time"><br />
        <input type="color"><br /> -->
        <button type="submit">제출</button>
    </form>

</body>
</html>