<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/practice1result" method="GET">

        <label for="name">이름</label>
        <input type="text" name="name" placeholder="이름"/>

        <br />

        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" id="male" value="남자" required/>
            <label for="male">남자</label>
            <input type="radio" name="gender" id="female" value="여자" required/>
            <label for="female">여자</label>
        </fieldset>
        <fieldset>
            <legend>생년월일</legend>

            <select name="DOBy" id="year" required>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
                <option value="2000">2000</option>
                <option value="2001">2001</option>
            </select>
            <label for="year">년</label>

            <select name="DOBm" id="month" required>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <label for="month">월</label>

            <select name="DOBd" id="date" required>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <label for="month">일</label>
        </fieldset>

        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" id="travel" name="interests" value="여행" />
            <label for="travel">여행</label> 
            <input type="checkbox" id="fashion" name="interests" value="패션" />
            <label for="fashion">패션</label>
            <input type="checkbox" id="food" name="interests" value="음식" />
            <label for="food">음식</label>
        </fieldset>

        <button type="submit">제출</button>
    </form>
</body>
</html>