<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form onsubmit="fileupload(event)">
        <input type="file" id="files" multiple /><br />
        <button type="submit">업로드</button>
    </form>
    <br />
    <div class="result"></div>
    <script>
        const resultBox = document.querySelector('.result')
        async function fileupload(event) {
            event.preventDefault()
            // 파일에 접근
            const file = document.getElementById('files')
            console.log(file.files)
            // 폼 데이터 생성
            const formData = new FormData()
            // 파일이 여러개이므로 반복문을 사용
            for (let i = 0; i < file.files.length; i++) {
                formData.append('files', file.files[i])
            }
            try {
                const res = await axios({
                method: 'post',
                url: 'uploads',
                data: formData,
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
            res.data.forEach((elem) => {
                // resultBox.innerHTML += `<img src="${elem.path}" style="width: 500px">`
                const img = document.createElement('img')
                img.src = elem.path
                img.style.width = "500px"
                resultBox.appendChild(img)
            })
            } catch (error) {
                console.log(error)
            }
        }
    </script>
</body>
</html>