<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />

     <!-- Axios -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>로그인</h1>
    <a href="/user">HOME</a>
    <br />
    <br />
    <form name="signin-account">
        <label for="id">아이디: </label>
        <input type="text" name="id" id="id" />
        <br />
        <br />
        <label for="pw">비밀번호: </label>
        <input type="password" name="pw" id="pw" />
        <br />
        <br />
        <button type="button" onclick="signinUser()">로그인</button>
    </form>
    <div class="result"></div>
    <form action="/user/profile" method="post" name="form-profile">
        <input type="hidden" name="id" id="profile-id" />
        <input type="hidden" name="userid" id="profile-userid" />
        <input type="hidden" name="name" id="profile-name" />
        <input type="hidden" name="pw" id="profile-pw" />
    </form>
    <script>
        function signinUser() {
            const form = document.forms['signin-account']
            axios({
                method: 'POST',
                url: '/user/signin',
                data: {
                    id: form.id.value,
                    name: form.name.value,
                    pw: form.pw.value,
                }
            }).then((res) => {
                if(res.data.length > 0) {
                    console.log(res)
                    console.log(res.data[0])
                    const profile = document.forms['form-profile']
                    document.getElementById('profile-id').value = res.data[0].id
                    document.getElementById('profile-userid').value = res.data[0].userid
                    document.getElementById('profile-name').value = res.data[0].name
                    document.getElementById('profile-pw').value = res.data[0].pw
                    profile.submit()
                } else {
                    window.location.href = "/user/signin"
                }
            })
        }
    </script>
</body>
</html>